---
import Layout from '../components/Layout.tsx';
import FileUpload from '../components/FileUpload.tsx';
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RKT Regulador - Subir Pedido</title>
    <link rel="stylesheet" href="/styles/global.css" />
  </head>
  <body>
    <Layout client:load currentPage="subir-pedido">
      <FileUpload client:load />
    </Layout>
  </body>
</html>